body {
    background-image: url('../img/login.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}


.text-white {
    color: white;
}